{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To MyFlaskApp</h1>
    <p class="lead">This Simple application is built on the Python Flask framework</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
    <p> Note: MySql not Connected. I do not have any cloud mysql connection. To test whether code is working or not, please clone the repo and try on local database.</p>
    <p>Database name: test; <br>Tables: article(id, title, content, author), user(id, username, email, name, password, gid(default=Null))</p>
  </div>
{% endblock %}
